* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    z-index: 50;
    transform: translateX(-50%);
}
header .navbar-brand {
    font-size:36px;
    color:#fff
}
header a {
    color:white;
}
header .navbar .nav-item.active a {
    color: #35a22c;
}
#navbarContent .nav-item {
    margin:0 10px
}
#navbarContent .nav-item .nav-link {
    color:#fff;
    transition:all .5s
}
#navbarContent .nav-item:hover .nav-link {
    color:#35a22c
}
#navbarContent .nav-item::after {
    content:"";
    width:0;
    height:2px;

    display:block;
    transition:all .5s
}
#navbarContent .nav-item:hover::after {
    width:100%
}
#navbarContent .nav-item.active .nav-link {
    color:#35a22c
}
#navbarContent .nav-item.active::after {
    width:100%
}
header .navbar-toggler {
    background-color:#35a22c
}
header .navbar-toggler:hover {
    background-color:#0ea8cf
}

header .navbar .nav-item a {
    position: relative;
    margin-right: 30px;
    transform: 0.3s;
}
header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}

header .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}
header  .navbar .nav-item a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #35a22c;
    transition: all 0.3s ease-in-out;
}
header  .navbar .nav-item a:hover {
    color: #35a22c;
}
header  .navbar .nav-item a:hover::before {
    width: 100%;
}
header  .navbar .nav-item.active a::before {
    width: 100%;
}
header .navbar-brand i {
    font-size: 40px;
    color:#35a22c;
}
header .navbar-brand span {
    font-size: 30px;
}
@media screen and (max-width: 992px) {
    header .navbar-collapse {
        background-color:#fff
    }
    #navbarContent .nav-item {
        margin:0;
        padding:0 10px
    }
    #navbarContent .nav-item:hover {
        background-color:#35a22c
    }
    #navbarContent .nav-item .nav-link {
        color:#35a22c
    }
    #navbarContent .nav-item:hover .nav-link {
        color:#fff
    }
    #navbarContent .nav-item.active::after,#navbarContent .nav-item:hover::after {
        width:0
    }
}
@media screen and (max-width:376px) {
    header .navbar-brand i {
        font-size:8vw
    }
    header .navbar-brand {
        font-size:7vw
    }
}
/* end header */
/*  carousel */
#carousel .carousel-item .item-bg {
    height: 100vh;
    min-height: 500px;
}
.carousel-item {
    height:100vh;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.carousel-indicators {
    bottom: 50px;
}
.carousel-indicators .active {
    background-color:#35a22c;
}
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.carousel-caption img {
    width:140px;
    border-radius:50%;
    margin:auto;
}
.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.carousel-caption h5 {
    font-size: 56px;
    line-height: 65px;
}
.carousel-caption p {
    font-size: 24px;
}
.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(39,43,54,0.5);
}
.carousel-item:nth-child(1) {
    background-image:url(./image/finland.jpg)
}
.carousel-item:nth-child(2) {
    background-image:url(./image/mountains.jpg)
}
.carousel-item:nth-child(3) {
    background-image:url(./image/mountains-1.jpg)
}
@media screen and (max-height:415px){
    .carousel-caption img {
        width:100px;
        height: 100%;
    }
    #carousel .carousel-caption h5 {
        font-size:5vw;
        line-height:5vw
    }
    #carousel .carousel-caption p {
        font-size:3vw
    }
    .carousel-caption {
        padding-top:0
    }
}

@media screen and (max-width:320px) {
    .carousel__thumb {
        width:120px
    }
    .carousel-caption img {
        width:120px
    }
    #carousel .carousel-caption h5 {
        font-size:10vw;
        line-height:10vw
    }
    #carousel .carousel-caption p {
        font-size:5vw
    }
    .carousel-caption {
        padding-top:0
    }
}
/* end carousel */
/* start project */

.heading {
    max-width: 750px;
}
.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.heading p {
    color: #585858;
    line-height: 24px;
}
.projects__item {
    margin-top:30px;
    border-radius:1rem;
    overflow:hidden;
    box-shadow:0 0 .4rem rgba(0,0,0,.13);
    border:none;
    cursor:pointer
}
.projects__item p {
    color:#585858
}
.projects__item .card-body {
    border:1px solid transparent;
    border-radius:0 0 1rem 1rem;
    transition:all .5s
}
.projects__item:hover .card-body {
    border-color:#35a22c;
    border-top-color:transparent
}
.projects__item:hover h3 {
    color:#35a22c
}
#projects .nav {
    justify-content: center;
}
#projects .card {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
}
#projects .card:hover {
    transition: .3s;
}
#projects .card:hover h5 {
    color: #35a22c;
    transition: .3s
}
#projects .card-body {
    border: 1px solid transparent;
    border-top: transparent;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#projects .card:hover .card-body{
    border-color:#35a22c;
}
#projects .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color:white;
    background-color: #35a22c;
    border-color: #35a22c;
}

#projects .nav-pills .nav-link {
    margin: 0 15px;
    border: 0.5px solid black;
}
@media screen and (max-width: 768px) {
    .projects__list .nav .nav-link {
        padding: 0.5rem;
    }
    .bg-overlay {
        background-position: right top;
    }
}
@media screen and (max-width:420px){
    .projects__list .nav .nav-item {
        margin-bottom:1rem
    }
}
/* end of projects */
/* start feature */
.feature {
    background: url(./image/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}
.feature .heading {
    position: relative;
}
.heading {
    max-width: 750px;
}
.feature .overlay {
    background: rgba(7,10,12,.72);
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.feature__item {
    padding: 40px 40px;
    transition: 1s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}
.feature__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800;
}
.feature__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.feature__item i {
    font-size: 48px;
    color: #35a22c;
}
.feature__item:hover {
    background: #000;
    border-color: #fff;
    transition: 1s;
    cursor: pointer;
}
/* end of feature  */
/* start award */
.award {
    position: relative;
    color: #585858;
    padding: 70px 0;
}
.award__bg {
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.award__left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}

@media screen and (max-width: 768px) {
    .award__bg {
        background-size: cover;
    }
}

/* end of award */
/* copyright start */
footer {
    background: #222;
}
.footer__main i:hover {
    border-color: #35a22c;
    color: #35a22c;
}
.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s;
}
.footer__main a {
    margin-right: 10px;
}
.footer__copyright {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}
.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}
footer a {
    color: #aaa;
}
footer a:hover {
    text-decoration: none;
    color: #35a22c;
}
footer p {
    color: #aaa;
    margin: 0;
}
/* copyright end  */
/* responsive start */




